<div class = "content-container">
  <div class = "container">
    <div class = "container">
      <h2>Your Cart</h2>

      <% if @cart_products.size == 0 %>
        <em>There are no items in your shopping cart. Please go <%= link_to "back", products_path %> to add some items to your cart.</em>

      <% else %>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @cart_products.each do |item| %>
                <% product = Product.find(item.product_id) %>
                <tr class = "cart-item-display">
                  <td class = "cart-item-image">
                    <%= image_tag("#{product.product_image}") %>
                  </td>
                  <td>
                    <%= product.name %>
                  </td>
                  <td><%= item.quantity %></td>
                  <td>$<%= product.price_in_cents / 100.00 %></td>
                  <td><%= link_to "remove", product_cart_product_path(product.id, item.id), method: :delete %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="cart-total">
            Subtotal: &nbsp $<%= @subtotal / 100.00%>
            <div><%= link_to "Confirm Checkout", cart_path, method: :patch %></div>
          </div>


        <% end %>

    </div>
  </div>
</div>
