<div class = "content-container">
  <div class = "container">
    <div class = "container">
      <h2>Profile</h2>

      <h4>Username</h4>
      <p><%= @user.username %></p>

      <h4>Email</h4>
      <p><%= @user.email %></p>

      <h4>Owned Products</h4>
      <% @products.each do |item|%>
        <div>
          <%= item.name %>
          <!-- owner_id used for testing -->
          <%= item.owner_id %>
        </div>
      <% end %>

      <br>
      <%= link_to "Edit", edit_user_path(current_user) %>
    </div>
  </div>
</div>
