<div class = "content-container item-desc">
  <div class = "container">
    <div class = "container">

      <h2 class = "col-sm-12 col-md-12 item-name"><%= @product.name.titleize %></h2>

      <div class = "col-sm-7 col-md-5 product-image">
        <%= image_tag @product.product_image.url if @product.product_image? %><br>
      </div>

      <div class = "col-sm-5 col-md-7">
        <div class = "item-desc-subcat">
          Item Description:
        </div>
        <%= @product.description %><br>

        <div class = "item-desc-subcat price">
          Price: $ <%= '%.2f' % @product.convert_dollars %>
        </div>

        <div class= "add-cart add-to-cart">
          <!-- remote: true means that js will control behavior (ie. Ajax submit) -->
          <% if session[:user_id] != nil && session[:user_id] != @product.owner_id%>
            <%= form_for ([@product,@cart_product]) do |f| %>
              <%= f.number_field :quantity, value:1, min:1, class: "quantity-cart" %>
              <%= f.submit "Add to Cart" %>
            <% end %>
          <% elsif session[:user_id] == @product.owner_id%>
            <em> Sorry, you cannot purchase your own item.</em>
          <% end %>
        </div>

        <% if current_user && @product.owner_id == current_user.id%>
          <div class = "edit_product">
            <%= link_to 'Edit', edit_product_path %> |
            <%= link_to 'Delete', product_path, data: {confirm: "Are you sure you want to remove this item?"}, method: :delete %>
          </div>
        <% end %>
      </div>

      <div class = "col-sm-12 col-md-12">
        <h3>Reviews</h3>
        <% if @reviews.count == 0 %>
          <p><em>There are currently no reviews.</em></p>
        <% else%>
            <% @reviews.each do |review| %>
              <% if review.review_text != nil %>
                <p>
                  <%= review.review_text %><br>

                  <em>Reviewed by <%= review.writer %> at <%= review.created_at.strftime("%b.%d, %Y" + " at " + "%l:%M %p") %></em><br>

                  <% if review.id != nil && current_user && review.user_id == current_user.id %>
                    <%= link_to "delete", [@product, review], method: :delete %>
                  <% end %>
                </p>
              <% end %>
            <% end %>
        <% end %>

        <div class = "form">
          <%= form_for ([@product,@review]) do |f| %>

            <% if @review.errors.any? %>
              <%= pluralize(@review.errors.count,"error") %> prevented you from saving.
              <ul>
                <% @review.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            <% end %>

            <div class = "review-textfield">
              <%= f.label :review_text %><br>
              <%= f.text_area :review_text %><br>
              <%= f.submit "Submit Review" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
