<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <%= link_to "Profile", user_path('current') %>
      <%= link_to "Sign Out", sessions_path('current'), method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_sessions_path %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %>

    <h1><%= link_to "Marketplace", root_path %></h1>

    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>
  </body>
</html>
